<form [formGroup]="authForm" (ngSubmit)="login()" novalidate>
    <ion-content fullscreen>
        <div class="logo">
            <ion-icon name="person-circle-outline"></ion-icon>
        </div>

        <ion-text color="danger" *ngIf="identifiantPassError">
            <span class="error-text">
            Identifiant or password not correct
          </span>
        </ion-text>

        <ion-item>
            <ion-label color="light">Identifier</ion-label>
            <ion-input color="light" type="mail" placeholder="E-mail" name="email" formControlName="email" required></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="controls['email'].touched && controls['email'].errors?.['required']">
            <span class="error-text">
            This field is required
        </span>
        </ion-text>

        <ion-text color="danger" *ngIf="controls['email'].touched && controls['email'].errors?.['minlength']">
            <span class="error-text">
                Minimum length 5
          </span>
        </ion-text>

        <ion-item>
            <ion-label color="light">Password</ion-label>
            <ion-input color="light" type="password" placeholder="Password" name="password" formControlName="password" required></ion-input>
        </ion-item>

        <ion-text color="danger" *ngIf="controls['password'].touched && controls['password'].errors?.['required']">
            <span class="error-text">
                This field is required
            </span>
        </ion-text>
        <ion-text color="danger" *ngIf="controls['password'].touched && controls['password'].errors?.['minlength']">
            <span class="error-text">
      Minimum length 6
          </span>
        </ion-text>

        <ion-item lines="none">
            <ion-button color="light" slot="end" fill="clear" (click)="openModal()">Forgot your password?</ion-button>
        </ion-item>

        <ion-button color="light" expand="block" shape="round" [disabled]="authForm.invalid" type="submit" fill="outline">Log In</ion-button>
        <br>
        <ion-button color="tertiary" expand="block" shape="round" [routerLink] = "['/register']" routerLinkActive="true">Register</ion-button>

        <div class="center-elm">
            <ion-label color="light" text-center>Or log in with</ion-label>
        </div>
<!-- 
        <div class="flex">
            <ion-button (click)="signInWithFacebook()" color="facebook" shape="round">
                <ion-icon slot="start" name="logo-facebook"></ion-icon>
                Facebook
            </ion-button>
            <ion-button (click)="signInWithGoogle()" color="google" shape="round">
                <ion-icon slot="start" name="logo-google"></ion-icon>
                Google
            </ion-button>
            <ion-button (click)="signInWithGithub()" color="google" shape="round">
                <ion-icon slot="start" name="logo-github"></ion-icon>
                Github
            </ion-button>
        </div> -->


        <ion-modal #modal isOpen={{isOpen}} [initialBreakpoint]="1" (willDismiss)="isOpen=false" >
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>
                Reset password
              </ion-title>
              </ion-toolbar>

            </ion-header>
            <ion-content class="white">
              <form [formGroup]="registerForm" (ngSubmit)="accept()" novalidate autocomplete="off">

                <br>
                <br>
                <ion-text>
                  <span>
                    Enter your email to receive a link to reset your password.
                  </span>
                </ion-text>

                <br>
                <br>

                <ion-item lines="full">
                  <ion-label clolor="primary" position="floating">Email</ion-label>
                  <ion-input clolor="primary" type="text" name="email" formControlName="email" autocomplete="off"></ion-input>
                </ion-item>
                <ion-text color="danger" *ngIf="controls['email'].touched && controls['email'].errors?.['required']">
                  <span>
                    This field is required
                  </span>
                </ion-text>

                <br>
                <br>


                <ion-button color="primary" expand="block" shape="round" [disabled]="registerForm.invalid" type="submit" fill="outline">Send</ion-button>

                <br>

                <ion-button color="tertiary" expand="block" shape="round" (click)="goBack()">Cancel</ion-button>
             </form>
            </ion-content>
          </ng-template>
        </ion-modal>
    </ion-content>
</form>
